# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
fw_env/

# Temporary scripts
*.ps1
*.tmp

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Settings — игнорируем всё, кроме VERSION и allowed_services.txt
fw_settings/*
!fw_settings/VERSION
!fw_settings/allowed_services.txt
