[Unit]
Description=AMS Sensors Dashboard
After=network.target

[Service]
Type=simple
User=ams-root
WorkingDirectory=/home/ams-root/AMS_SW
ExecStart=/home/ams-root/AMS_SW/init.sh --daemon
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
